// change the theme
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$theme-colors: (
  
  "primary": #2f009f,
  "secondary": #784ce0,
  "info": #2d57d9,
  "warning": #d37937,
  "danger": #a5393d,
  "success": #156c57,
  "light": #f9f8fb,
  "dark": #0f0b18,
  
);

.bg-navbar {
  background-color: map.get($theme-colors, "light");
  font-family: "Open Sans", sans-serif;
  color:  map.get($theme-colors, "primary");
  padding: 0.5em;
  box-shadow: 0 0 30px 5px map.get($theme-colors, "primary");
  width: 100vw;
  .brand{
    font-family: "Lobster", sans-serif;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    color:  map.get($theme-colors, "primary");
  
  }
   .nav-link{
    color:  map.get($theme-colors, "primary");
  }
  .nav-link:hover{
    color:  map.get($theme-colors, "dark");
  }
  .navbar-toggler{
    border: none
  } 
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 3px map.get($theme-colors, "primary");
}
.logo{
  width: 5em;
  height: 5em;
}

}
h1{
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  font-weight: bold;
}
h2{
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: bold;
}

.content{
  margin-top: 150px;
  height: 100vh;
  width: 100vw;
}

.carContainer{
  background-color: rgba( map.get($theme-colors, "primary"),0.2);
  color: "white";
  box-shadow: 0 0 10px 0px map.get($theme-colors, "primary");
  border-radius: 3px;
  min-height: 26em;
}
.slideshow{
  margin: 2em;
  
}
.project{
  display: flex;
  flex-wrap: wrap;

}
.project-title{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width:30em;
  height:30em;
 
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';